<ul class="dropdown menu" data-dropdown-menu>
  {% for item in main_menu %}
    {% set classes = [
    item.in_active_trail ? 'active',
    ] %}
    <li{{ item.attributes.addClass(classes) }}>
      <a href="{{ item.url }}">{{ item.title }}</a>
      {% if item.bellow %}
        <ul class="menu">
          {% for item in item.bellow %}
            <li><a href="{{ item.url }}">{{ item.title }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}
    </li>
  {% endfor %}
</ul>
